# dependencies
node_modules/

# build output
dist/
dist-ssr/

# logs and debug
*.log
npm-debug.log*

# testing
coverage/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# configuration overrides
config/settings.json
config/vapid.json
deploy/config/settings.json
deploy/config/vapid.json

# OS / misc
.DS_Store
*.pem

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
next steps.txt
